/*
 * -------------------------------------------------------------------------------------
 * -- Circle Animation
*/
.animated_circle {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  background-color: aquamarine;
  transform-origin: center center;
  animation: move-circle-fade 4s infinite;
  opacity: 0;
}

.animated_circle:nth-child(1) {
  animation-delay: 0.5s;
}

.animated_circle:nth-child(2) {
  animation-delay: 1s;
}

.animated_circle:nth-child(3) {
  animation-delay: 1.5s;
}

.animated_circle:nth-child(4) {
  animation-delay: 2s;
}

.animated_circle:nth-child(5) {
  animation-delay: 2.5s;
}

.animated_circle:nth-child(6) {
  animation-delay: 3s;
}

.animated_circle:nth-child(7) {
  animation-delay: 3.5s;
}

.animated_circle:nth-child(8) {
  animation-delay: 4s;
}

.animated_circle_parent {
  animation: move-parent 4s linear infinite;
}

@keyframes move-parent {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move-circle-fade {
  0% {
    transform: translate(50px, 50px);
    opacity: 1;
    width: 1.5em;
    height: 1.5em;
  }
  12% {
    transform: rotateZ(45deg) translate(50px, 50px);
    opacity: 0.875;
    width: 1.3125em;
    height: 1.3125em;
  }
  25% {
    transform: rotateZ(90deg) translate(50px, 50px);
    opacity: 0.75;
    width: 1.125em;
    height: 1.125em;
  }
  37% {
    transform: rotateZ(135deg) translate(50px, 50px);
    opacity: 0.625;
    width: 0.9375em;
    height: 0.9375em;
  }
  50% {
    transform: rotateZ(180deg) translate(50px, 50px);
    opacity: 0.5;
    width: 0.75em;
    height: 0.75em;
  }
  62% {
    transform: rotateZ(225deg) translate(50px, 50px);
    opacity: 0.375;
    width: 0.5625em;
    height: 0.5625em;
  }
  75% {
    transform: rotateZ(270deg) translate(50px, 50px);
    opacity: 0.25;
    width: 0.375em;
    height: 0.375em;
  }
  87% {
    transform: rotateZ(315deg) translate(50px, 50px);
    opacity: 0.1875;
    width: 0.28125em;
    height: 0.28125em;
  }
  100% {
    transform: rotateZ(350deg) translate(50px, 50px);
    opacity: 0.125;
    width: 0.1875em;
    height: 0.1875em;
  }
}