@tailwind base;
@tailwind components;
@tailwind utilities;
/*
 * -------------------------------------------------------------------------------------
 * -- Animated List
 */
.animated_li {
  list-style: none;
  background: blueviolet;
  color: white;
  height: 0;
  line-height: 2em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  will-change: height margin opacity transform;
}

.animated_li.show {
  height: 2em;
  margin: 2px 0;
}

.fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
  height: 2em;
}

.fade .animated_li.show {
  opacity: 1;
}

.slide-fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
}

.slide-fade .animated_li.show {
  opacity: 1;
}

.swing {
  perspective: 100px;
}

.swing li {
  opacity: 0;
  transform: rotateX(-90deg);
  transition: all 0.5s ease-in;
}

.swing .animated_li.show {
  opacity: 1;
  transform: none;
  transition: all 0.5s ease-out;
}

/*
 * -------------------------------------------------------------------------------------
 * -- Buffer Loading
 */
@keyframes layer1 {
  0%, 65% {
    fill: rgba(178, 178, 178, 0);
    color: rgba(178, 178, 178, 0);
  }
  75%, 85% {
    fill: rgb(222, 24, 205);
    color: rgb(24, 64, 222);
  }
  92%, 100% {
    fill: rgba(178, 178, 178, 0);
    color: rgba(178, 178, 178, 0);
  }
}
@keyframes layer2 {
  0%, 40% {
    fill: rgba(178, 178, 178, 0);
    color: rgba(178, 178, 178, 0);
  }
  50%, 86% {
    fill: rgb(222, 24, 205);
    color: rgb(24, 64, 222);
  }
  93%, 100% {
    fill: rgba(178, 178, 178, 0);
    color: rgba(178, 178, 178, 0);
  }
}
@keyframes layer3 {
  0%, 15% {
    fill: rgba(178, 178, 178, 0);
    color: rgba(178, 178, 178, 0);
  }
  25%, 90% {
    fill: rgb(222, 24, 205);
    color: rgb(24, 64, 222);
  }
  100% {
    fill: rgba(178, 178, 178, 0);
    color: rgba(178, 178, 178, 0);
  }
}
.layer {
  animation: 4s linear infinite;
}

.layer1 {
  animation-name: layer1;
  will-change: fill color;
}

.layer2 {
  animation-name: layer2;
  will-change: fill color;
}

.layer3 {
  animation-name: layer3;
  will-change: fill color;
}

/*
 * -------------------------------------------------------------------------------------
 * -- Animated Link
 */
.animated_link {
  color: aqua;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
  will-change: background-size;
}

.animated_link:hover,
.animated_link:focus {
  text-decoration: none;
  background-size: 100% 4px;
}

/*
 * -------------------------------------------------------------------------------------
 * -- Circle Animation
 */
.animated_circle {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  background-color: aquamarine;
  transform-origin: center center;
  animation: move-circle-fade 4s infinite;
  opacity: 0;
  will-change: transform opacity width height;
}

.animated_circle:nth-child(1) {
  animation-delay: 0.5s;
}

.animated_circle:nth-child(2) {
  animation-delay: 1s;
}

.animated_circle:nth-child(3) {
  animation-delay: 1.5s;
}

.animated_circle:nth-child(4) {
  animation-delay: 2s;
}

.animated_circle:nth-child(5) {
  animation-delay: 2.5s;
}

.animated_circle:nth-child(6) {
  animation-delay: 3s;
}

.animated_circle:nth-child(7) {
  animation-delay: 3.5s;
}

.animated_circle:nth-child(8) {
  animation-delay: 4s;
}

.animated_circle_parent {
  animation: move-parent 4s linear infinite;
  will-change: transform;
}

@keyframes move-parent {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move-circle-fade {
  0% {
    transform: translate(50px, 50px);
    opacity: 1;
    width: 1.5em;
    height: 1.5em;
  }
  12% {
    transform: rotateZ(45deg) translate(50px, 50px);
    opacity: 0.875;
    width: 1.3125em;
    height: 1.3125em;
  }
  25% {
    transform: rotateZ(90deg) translate(50px, 50px);
    opacity: 0.75;
    width: 1.125em;
    height: 1.125em;
  }
  37% {
    transform: rotateZ(135deg) translate(50px, 50px);
    opacity: 0.625;
    width: 0.9375em;
    height: 0.9375em;
  }
  50% {
    transform: rotateZ(180deg) translate(50px, 50px);
    opacity: 0.5;
    width: 0.75em;
    height: 0.75em;
  }
  62% {
    transform: rotateZ(225deg) translate(50px, 50px);
    opacity: 0.375;
    width: 0.5625em;
    height: 0.5625em;
  }
  75% {
    transform: rotateZ(270deg) translate(50px, 50px);
    opacity: 0.25;
    width: 0.375em;
    height: 0.375em;
  }
  87% {
    transform: rotateZ(315deg) translate(50px, 50px);
    opacity: 0.1875;
    width: 0.28125em;
    height: 0.28125em;
  }
  100% {
    transform: rotateZ(350deg) translate(50px, 50px);
    opacity: 0.125;
    width: 0.1875em;
    height: 0.1875em;
  }
}
/*
 * -------------------------------------------------------------------------------------
 * -- Border Mouse Interaction
 */
.animated_border {
  position: relative;
  width: 728px;
  height: 512px;
  border-color: rgb(170, 15, 150);
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 0 0 rgb(170, 15, 150);
  border-radius: 30px;
  transition: border-top-color border-bottom-color border-left-color
    border-right-color 0.25s ease-in;
  transition: box-shadow 0.1s linear;
}

/*
 * -------------------------------------------------------------------------------------
 * -- Image Card flip
 */
.card {
  position: relative;
  width: 256px;
  height: 359px;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}
.card:hover .card-face-front {
  transform: rotateY(-180deg);
}
.card:hover .card-face-back {
  transform: rotateY(0);
}
.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
}
.card-face-back {
  transform: rotateY(0.5turn);
}
